<a href="https://colab.research.google.com/github/almirars/MachineLearning/blob/main/Kuis_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- NIM  : 2241727003
- Nama : Almira Rahma Sabita
- Kelas :  TI 4J

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/ML/dataset_quiz.csv')

data.head()

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain;;;;;;;;;;;;;;;;;;;;;;;;;
0,7206,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
1,7214,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
2,5911,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
3,8402,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;
4,8201,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0.0,2019.0,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA;;;;;;;;;;;;;;;;;;;;;;;;;

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

Anggota = [id_ketua, id_anggota1, id_anggota2, id_anggota3, id_anggota4, id_anggota5]
Tahun = [2017, 2018,2019, 2020]

plt.figure(figsize=(12,7))
plt.barh(Anggota, Tahun, color='skyblue')

plt.title('Bar Plot Sederhana', size=16)
plt.xticks(size = 12)
plt.yticks(size = 12)

plt.show()

NameError: ignored